
{% extends 'layout.html.twig' %}
{% block title %}Platforme XO-Matic Installer{% endblock title %}
{% block body %}

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <h4 class="alert-heading">Fin du dépoiement</h4>
                    <p>
                        Le déploiement de la platforme s'est terminé avec succès. Vous pouvez aller sur la platforme via les liens
                    </p>
                    <hr>
                    <p class="mb-0">
                        <dl class="row">
                            <dt class="col-sm-3">Lien de la page</dt>
                            <dd class="col-sm-9"><a href="http://">lien</a></dd>
                            <dt class="col-sm-3">Lien phpadmin</dt>
                            <dd class="col-sm-9"><a href="http://">lien</a></dd>
                        </dl>
                    </p>
                </div>
            </div>
        </div>   
    </div>
</div> 
{% endblock body %}
{% block javascripts %}

	{{ parent() }}
	

{% endblock %}