homepage:
    path:     /
    defaults: { _controller: CoreBundle:Index:index }

new_platform:
    path:     /platform/new
    defaults: { _controller: CoreBundle:Platform:new }

create_platform:
    path:     /platform/create
    defaults: { _controller: CoreBundle:Api/ApiPlatform:create }

new_deploy_platform:
    path:     /platform/deploy/{id}
    defaults: { _controller: CoreBundle:Platform:newDeploiement }
    requirements:
        id: '\d+'

finish_deploy_platform:
    path:     /platform/deploy/finish
    defaults: { _controller: CoreBundle:Platform:finishDeploiement }

update_platform_deploy:
    path:     /platform/deploy/update
    defaults: { _controller: CoreBundle:Platform:updateDeploiement }

api_install:
    path:     /api/install
    defaults: { _controller: CoreBundle:Api/ApiInstall:install }

api_checkif_install:
    path:     /api/check/install
    defaults: { _controller: CoreBundle:Api/ApiInstall:checkIfInstall }


ajax_form_application:
    path:     /ajax/frm/application
    defaults: { _controller: CoreBundle:Ajax/Form:applicationForm }